.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  padding-top: 2%;
  color: #666;
  padding-left: 13%;
}

.map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#333;
  overflow-x: hidden;
  padding-top: 2%;
}

.sideclick {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sideclick:hover {
  color: #f1f1f1;
}

.help-block {
  color: red;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
