.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: gray ;
  color:floralwhite;
}


.navbar-dark {
  background-color:darkgray;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 10px;
  color: #666;
}

.map{
  margin-top: 50px;
  height: 600px;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
